* text=auto
*.py text eol=lf
*.pyi text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.ps1 text eol=crlf
*.proto text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.woff binary
*.woff2 binary
